.thumb-section{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    background-color: #666666;
}
.thumb-image{
    width: 60%;
    border-radius: 10px;
}
.form {
    width: 60%;
    margin: 0 auto;
    padding: 50px 50px;
    border: 1px solid #0000004a;
    margin-top: 50px;
    background: #47758d38;
    border-radius: 10px;
}
.form .name{
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}
.form .email{
    width: 100%;
}
.form .city{
    width: 49%;
    margin-left: 1%;
}
.form .number{
    width: 49%;
    margin-left: 1%;
}
.form .address{
    width: 49%;
    margin-right: 1%;
}
.form .country{
    width: 49%;
    margin-right: 1%;
}
#course-info span{
    color: #ff852b;
    font-weight: 700;
    font-size: 22px;
}
.process-btn{
    border: none;
    padding: 8px 40px;
    transition: .5s;
}

#course-info span{
    display: block;
}
@media screen and (max-width: 992px) {
    .form{
        width: 100%;
    }
}
@media screen and (max-width: 776px) {
    .form{
        padding: 30px 20px;
        border: 1px solid black;
        margin-top: 50px;
    }
    .course-id{
        display: block;
    }
}