.form-section{
    width: 60%;
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid black;
    margin-top: 50px;
}
.form-section .name{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}
.form-section .email{
    width: 100%;
    margin-bottom: 20px;
}
.form-section .city{
    width: 49%;
    margin-right: 1%;
    margin-bottom: 20px;
}
.form-section .country{
    width: 49%;
    margin-left: 1%;
    margin-bottom: 20px;
}